<link rel="stylesheet" href="~/css/partialMovieInfo.css" />

@model IEnumerable<Labb3WebbMVC.Models.Movie>

<div class="border p-3 mt-3">
    <input type="hidden" value="<%= Model.Labb3WebbMVC.Models. %>" id="modelObject" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>Salon</th>
                <th>Seats Left</th>
                <td></td>
            </tr>
            @if (Model == null)
            {
                <tr>
                    <td>
                        No movies found.
                    </td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    @foreach (var show in item.Viewing)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => show.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => show.Salon.Number)
                            </td>
                            <td>@Html.DisplayFor(modelItem => show.Salon.RemainingSeats)</td>
                            <td>
                                @if(show.Salon.RemainingSeats == 0)
                                {
                                    <button class="btn-danger"disabled>Sold out</button>
                                }
                                else
                                {
                                    <a asp-action="BookTicketView" asp-route-id="@show.Id" asp-controller="Movies" class="btn btn-success btn-sm">Book tickets!</a>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </thead>
    </table>
</div>

@section Scripts{ 
    <script>
    </script>
}