
@{
    ViewData["Title"] = "BookTicketView";
}

@model IEnumerable<Labb3WebbMVC.Models.Viewing>

<div>
    <p>Here comes TABLE!!!</p>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Salon.Number)
                </td>
                <td>
                    @Html.DisplayFor(m => item.StartTime)
                </td>
            </tr>
        }
    </table>
    <p>End of table. :(</p>
</div>
