
@{
    ViewData["Title"] = "DisplayMovieInfo";
}
@model IEnumerable<Labb3WebbMVC.Models.Movie>

<br />

<iframe class="trailerFrame" src="https://www.youtube.com/embed/KAOdjqyG37A" allow="accelerometer;" allowfullscreen></iframe>
<div class="movieInfo">

    @foreach (var item in Model)
    {
        <h1>
            @Html.DisplayFor(modelItem => item.Title)
            <span id="movieRating">Rating: @Html.DisplayFor(modelItem => item.Rating)</span>
        </h1>
    }
    <p>
        Wayward prince and heir to the Bhutan throne, is crowned King Pontus I after an alien attack robs the earth of all lions.<br />
        Now the young king must navigate palace politics, the lack of roars left behind, and the emotional strings of his past life as a russian hacker.<br /><br />
        Watch it now, blyat!<br />
        Rawr...
    </p>
</div>

@{
    await Html.RenderPartialAsync("_PartialDisplayMovieInfo", Model);
}