@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Labb3WebbMVC.Models.Movie>

<br />
<div class="container">
    <div class="col-2">
        <h1>
            Movies
        </h1>
        <a asp-action="SeedDb" asp-controller="Movies" class="btn btn-info form-control text-white mb-1">
            Seed Database
        </a>
        <a asp-action="EmptyDb" asp-controller="Movies" class="btn btn-info form-control text-white">
            Empty Database
        </a>
    </div>
    <div class="border p-3 mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-6">Title</th>
                    <th>Duration</th>
                    <th></th>
                </tr>
                @if (Model == null)
                {
                    <tr>
                        <td>
                            No movies found.
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @if (item.Title == "Pontus, Bouncer of Shangri-La")
                                {
                                    <a asp-action="DisplayPontus" asp-route-id="@item.Id" asp-controller="Movies" class="btn btn-success btn-sm">See Movie info</a>
                                }
                                else
                                {
                                    <a asp-action="DisplayMovieInfo" asp-route-id="@item.Id" asp-controller="Movies" class="btn btn-success btn-sm">See Movie info</a>
                                }
                            </td>
                        </tr>
                    }
                }
            </thead>
        </table>
    </div>
</div>

@section Scripts{

}