@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Labb3WebbMVC.Models.Movie>

<div class="container">
    <h1>
        Bärras biå
    </h1>
    <div class="border p-3 mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Duration</th>
                    <th></th>
                </tr>
                @if (Model == null || Model.Count() == 0)
                {
                    <tr>
                        <td>
                            No movies found.
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @if (item.Title == "Pontus, Bouncer of Shangri-La")
                                {
                                    <a asp-action="DisplayPontus" asp-route-id="@item.Id" asp-controller="Movies" class="btn btn-success btn-sm">See Movie info</a>
                                }
                                else
                                {
                                    <a asp-action="DisplayMovieInfo" asp-route-id="@item.Id" asp-controller="Movies" class="btn btn-success btn-sm">See Movie info</a>
                                }
                            </td>
                        </tr>
                    }
                }
            </thead>
        </table>
    </div>
    <br />
    <div>
        <label>Dev tools:</label>
        <a asp-action="SeedDb" asp-controller="DevTools" class="col-sm-2 btn btn-info form-control text-white mb-1">
            Seed Db
        </a>
        <a asp-action="EmptyDb" asp-controller="DevTools" class="col-sm-2 btn btn-info form-control text-white mb-1">
            Empty Db
        </a>
        <a asp-action="RecreateDb" onclick="return confirm('Confirm recreation of Database. This may take up to 30 seconds.')" asp-controller="DevTools" class="col-sm-2 btn btn-info form-control text-white mb-1">
            Recreate Db
        </a>
    </div>
</div>

@section Scripts{

}