@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Welcome to Berras Bio!<br/>
    Here at Berras Bio, we are proud to offer our customers the same few movies every day, with just two salons.<br/><br/>
    No problem with the decision-making!
</p>
